.header {
    height: $height-header;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $white-color;
}

.header-wrap{
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4%;
    box-shadow: 1px 1px rgb(240, 238, 238);
}
.header__logo:hover .border-spin{
    border-bottom: 5px solid rgba(245, 119, 97, 0.966);
    border-top: 5px solid rgba(245, 119, 97, 0.966);
}
.border-spin {
    position: absolute;
    top: 7%;
    left: 5px;
    z-index: 1000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid rgb(189, 189, 189);
    border-bottom: 5px solid #222;
    border-top: 5px solid #222;
    transition: all 0.5s;
    animation: pinAnimation 1s linear infinite;
}

@keyframes pinAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.header__logo-search {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .header__logo:hover a svg{
        fill: rgba(245, 119, 97, 0.966);
    }
    .header__logo{
        width: 74px;
        height: 74px;
        
        a{ 
            width: 70px;
            height: 70px;
            text-decoration: none;
            display: inline-block;
            border-radius: 50%;
            background-color: #f5f5f5;
            padding: 10px;     
        }
    }

    .header__search {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 602px;
        height: 47px;
        border-radius: 4px;
        box-shadow: 0 0 4px #cccccc;
        margin-left: 15px;
        .header__search-input{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex: 1;
            border-radius: 4px;

            i{
                font-size: 1.6rem;
                color: $gray-color;
                padding: 0 16px;
            }

            input {
                border: none;
                outline: none;
                font-size: 1.4rem;
                font-weight: 600;
                color: $black-color;
            }
        }

        .header__search-day{
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 600;
            color: $black-color;
            padding: 0 24px;
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
            height: 80%;
            display: flex;
            align-items: center;
            i{
                color: $gray-color;
                padding-right: 4px;
            }
        }

        .header__search-cusnumber{
            padding-left: 16px;
            padding-right: 24px;
            font-size: 1.4rem;
            font-weight: 600;
            color: $black-color;
           
            span{
                cursor: pointer;
            }
            i{
                color: $gray-color;
                padding-right: 4px;
            }
        }

        .header__search-icon {
            padding: 10px 20px;
            font-size: 1.4rem;
            font-weight: 600;
            color: $white-color;
            border-radius: 4px;
            background-color: $gray-color;
            margin-right: 4px;
            cursor: pointer;
        }

    }
}

.header__navbar {
    .navbar-list{
        display: flex;
        list-style: none;
        .navbar-item{
            padding-left: 34px;
            position: relative;
            .navbar-item-link {
                font-size: 1.4rem;
                font-weight: 600;
                color: $black-color;
                text-decoration: none;
                display: inline-block;
            }
            .currency {
                width: 100px;
                height: 30px;
                padding: 5px;
                background-color: #f6f6f6;
                font-size: 1.6rem;
                font-weight: 400;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 20px; 
                transform: translateY(-7px);
                cursor: pointer;
                span i{
                    transform: translateY(-3px);
                }
            }
        }

        .currency-translate {
            position: relative;

            #currency:checked ~ .currency-country-option{
                display: flex;
            }

            @keyframes fadeIn {
                from{
                    opacity: 0;
                    transform: translateY(20px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0px);
                }
                
            }
            .currency-country-option::before{
                position: absolute;
                content: "";
                top: -11px;
                right: 34px;
                width: 20px;
                height: 20px;
                border-left: 1px solid #dadada;
                border-top: 1px solid #dadada;
                transform: rotateZ(45deg);
                background-color:$white-color;
            }
            .currency-country-option {
                position: absolute;
                top: 136%;
                right: 0;
                z-index: 1;
                width: 437px;
                height: 155px;
                display: none;
                box-shadow: 0 0 5px #dadada;
                border-radius: 4px;
                background-color: $white-color;
                animation: fadeIn 0.3s ease-in;
                transition: all 0.3s;
                ul {
                    padding: 0;
                    li {
                        list-style: none;

                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .country-list {
                    width: 50%;

                    .country-item {
                        a:hover{
                            color: rgb(236, 87, 60);
                        }
                        a {
                            display: inline-block;
                            text-decoration: none;
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: $gray-color;
                            line-height: 100%;
                            padding: 15px 15px;
                            img {
                                margin-right: 10px;
                                transform: translateY(2px);
                            }
                        }
                    }
                }  
                
                .currency-list {
                    width: 50%;
                    .currency-item{
                        a:hover{
                            color: rgb(236, 87, 60);
                        }
                        
                        a{
                            display: inline-block;
                            text-decoration: none;
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: $gray-color;
                            line-height: 100%;
                            padding: 15px 15px;
                            span:first-child {
                                font-weight: 600;
                                color: $black-color;
                            }
                        }
                        a:hover span{
                            color: rgb(236, 87, 60);
                        }
                    }
                }
                
            }
        }
    }
}